/* Default height for small devices */
#baner {
    height: 200px;
  }


@media (min-width: 400px) {
#baner {
    height: 200px;
}
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
#baner {
    height: 200px;
}
}